/* .card {
  opacity: 0.3;
  border-radius: 16px;
  box-shadow: 0 30px 30px -25px var(--color-shadow);
  width: 400px;
  background-color: var(--color-bg-secondary);
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  transition: all .7s ease-in-out;
} */

.incomplete {
  opacity: 1;
}

.completed {
  text-decoration: line-through;
  opacity: 0.3;
}

.completed:hover {
  text-decoration: none;
  opacity: .5;
}

.title {
  font-size: 1.5rem;
  color: var(--color-text-primary);
  line-height: 1.25;
}

.description {
  color: var(--color-text-secondary);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.check {
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 1rem;

  input[type="checkbox"] {
    width: 2em;
    height: 2em;
  }
}