header {
  background-color: var(--color-bg-header);
  color: var(--color-text-header);
  padding: .25rem;
  text-align: center;
}

header h1 {
  font-size: small;
}

footer {
  text-align: center;
  width: 100%;
  font-size: x-small;
  margin-top: 2rem;
}